MYSQL_ROOT_PASSWORD=change-me
NACOS_DB_PASSWORD=change-me
AUTH_DB_APP_PASSWORD=change-me
AUTH_DB_MIGRATION_PASSWORD=change-me
REDIS_PASSWORD=change-me
NACOS_AUTH_TOKEN=base64-at-least-32-bytes
NACOS_AUTH_IDENTITY_KEY=change-me
NACOS_AUTH_IDENTITY_VALUE=change-me
NACOS_ADMIN_PASSWORD=change-me
POSTGRES_PASSWORD=change-me
ELASTIC_PASSWORD=change-me
SEATA_PASSWORD=change-me
